.full-width-table {
  width: 100%;
  height: 100%;
}

.table-container {
  position: relative;
  min-height: 62vh;
  max-height: 62vh;
  overflow: auto;
  background-color: white;
}

.no-services-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 25em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}

/* Separate the columns content*/
td.mat-cell {
  padding-right: 0.5em !important;
}
