:host {
  --wrappers-padding: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 1em;
}

.create-order-form {
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
}

.vehicle-and-client-wrapper {
  display: flex;
}

.vehicle-wrapper {
  flex: 1 1 50%;
  padding: var(--wrappers-padding);
  padding-bottom: 0.5em;
}

.client-wrapper {
  flex: 1 1 50%;
  padding: var(--wrappers-padding);
  padding-bottom: 0.5em;
}

.services-wrapper {
  padding: var(--wrappers-padding);
  padding-top: 0.5em;
}
.products-wrapper {
  padding: var(--wrappers-padding);
  padding-top: 0.5em;
}

.w-100 {
  width: 100%;
}

/* Adding strip */
.add-wrapper {
  display: flex;
  align-items: flex-start;
}

.add-wrapper > app-service-select-input,
.add-wrapper > app-product-select-input {
  flex: 1 1 auto;
  margin-right: 1em;
}

.add-button {
  margin-top: 0.4em;
  min-width: 90px;
  width: 10%;
  height: 3em;
}

.count-input {
  min-width: 80px;
  width: 8%;
  margin-right: 1em;
}

.summary-text {
  flex: 1;
  margin-left: 2.5em;
  font-weight: 500;
  font-size: 1.25em;
  color: #3f51b5;
}

.summary-price {
  font-weight: 600;
}
