<!-- Technical Inspection End -->
<mat-form-field appearance="fill">
    
    <!-- Label -->
    <mat-label>{{label}}</mat-label>
    
    <!-- Input -->
    <input 
        matInput 
        readonly="true"
        placeholder="Wprowadź datę poprzez kalendarz..." 
        [min]="minDate" 
        [max]="maxDate"
        [formControl]="ngControl.control" 
        [matDatepicker]="datePicker" 
    > 

    <!-- Toggle -->
    <mat-datepicker-toggle matSuffix [for]="datePicker">
        <mat-icon color="primary" matDatepickerToggleIcon>today</mat-icon>
    </mat-datepicker-toggle>

    <!-- Clear button if needed -->
    <button *ngIf="includeClearBtn" matSuffix mat-icon-button aria-label="Clear" (click)="clearDate($event)">
        <mat-icon color="warn">close</mat-icon>
    </button>

    <!-- Date picker -->
    <mat-datepicker #datePicker></mat-datepicker>

</mat-form-field>

