@import "helpers/constants";

// Override default media
@media (max-width: $medium-breakpoint) {
  .link-text {
    display: none;
  }
  .mat-button {
    padding: 0px;
    min-width: 36px;
  }
  .link-icon {
    margin-right: 0px;
  }
}
