@import "helpers/constants";

@media (max-width: $small-breakpoint) {
  :host ::ng-deep {
    .link-text {
      display: none;
    }

    .link-icon {
      margin-right: 0px;
    }
  }
}

@media (min-width: $small-breakpoint) {
  :host ::ng-deep .link-icon {
    display: none;
  }
}
