@import "helpers/constants";

/* Separate the columns content*/
td.mat-cell {
  padding-right: 0.5em;
}

.manufacturer {
  font-weight: 500;
  opacity: 0.6;
}

@media (max-width: $large-breakpoint) {
  .mat-column-code,
  .mat-column-unit {
    display: none;
  }
}

@media (max-width: $medium-breakpoint) {
  .mat-column-lastDeliveryDate {
    display: none;
  }
}

@media (max-width: $small-breakpoint) {
  .mat-column-buyPrice {
    display: none;
  }
}
