@import "helpers/constants";
@import "helpers/placeholders";
@import "components/profiles";

$intro-primary: hsl(188, 72%, 33%);
$intro-primary-dark: hsl(188, 72%, 29%);

:host {
  @extend %profile-host;
}

// Override colors
.profile-paper {
  border-color: $intro-primary;
  .mat-tab-nav-bar,
  .mat-tab-header {
    background-color: $intro-primary;
  }
  .mat-tab-link {
    color: $intro-primary-dark;
  }
}
.profile-intro {
  background-color: $intro-primary;
}
.profile-label {
  background-color: $intro-primary-dark;
}

@media (max-width: $small-breakpoint) {
  .profile-label > span {
    display: none;
  }
}
