<div *ngIf="product" class="profile-paper">
  <div class="profile-intro">
    <!-- Name -->
    <div class="profile-title">{{ product.name }}</div>

    <!-- Code -->
    <div class="profile-subtitle">{{ product.code || "&nbsp;" }}</div>

    <!-- Manufacturer -->
    <div class="profile-label">
      <mat-icon>sell</mat-icon>
      <span>{{ product.manufacturer }}</span>
    </div>

    <!-- Right bottom data -->
    <div class="profile-right-corner-data">
      <span class="profile-bold-text">Dostępność</span>{{ product.availability }}
    </div>
  </div>

  <!-- Tabs -->
  <nav mat-tab-nav-bar animationDuration="0ms" mat-align-tabs="start" [tabPanel]="tabPanel">
    <a
      mat-tab-link
      routerLinkActive="profile-active-tab-link"
      [routerLink]="['./']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dane towaru
    </a>
    <a mat-tab-link routerLinkActive="profile-active-tab-link" [routerLink]="['./opinion']">
      Ocena
    </a>
    <a mat-tab-link routerLinkActive="profile-active-tab-link" [routerLink]="['./orders']">
      Powiązane zlecenia
    </a>
  </nav>
  <!-- Tabs-content -->
  <mat-tab-nav-panel class="profile-tab-content" #tabPanel
    ><router-outlet></router-outlet
  ></mat-tab-nav-panel>
</div>
