@import "helpers/constants";
@import "helpers/placeholders";

:host {
  @extend %panel-base;
}

.content-wrapper {
  width: 96%;
  max-width: $max-content-width;
}

.filters-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
}
