<div class="panel-wrapper">
  <!-- Filters section -->
  <div class="panel-filters-wrapper">
    <!-- Add button -->
    <button
      mat-raised-button
      (click)="onAddProduct()"
      color="primary"
      aria-label="Add product button"
    >
      Dodaj produkt
      <mat-icon>add</mat-icon>
    </button>

    <!-- Net toggle -->
    <mat-slide-toggle [labelPosition]="'before'" [(ngModel)]="isGross" color="primary">
      {{ isGross ? "Brutto" : "Netto" }}
    </mat-slide-toggle>
  </div>

  <!-- Products table -->
  <app-products-table appTableBase [isGross]="isGross"></app-products-table>
</div>
