/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/* Angular Material Theming Colors */
.primary-color{
    background-color: #3f51b5;
    color: white;
}

.accent-color{
    background-color: #ff4081;
    color: white;
}

.warn-color{
    background-color: #f44336;
    color: white;
}

/* Background gradient */
.bg-gradient{
    /* background: linear-gradient( 135deg, #f5f7fa 0%, #c3cfe2 100%); */
}

/* Disable hover events */
.disable-hover{
    pointer-events: none;
}

/* ------------------------------- Snackbars panel styling -------------------------------*/
.success-snackbar-panel{
    border-left: solid 5px rgb(98, 213, 98); 
    background-color: rgb(111, 114, 135); 
    color: white;
}

.info-snackbar-panel{
    border-left: solid 5px lightskyblue; 
    background-color: rgb(111, 114, 135); 
    color: white;
}

.warn-snackbar-panel{
    border-left: solid 5px orange; 
    background-color: rgb(111, 114, 135); 
    color: white;
}

.error-snackbar-panel{
    border-left: solid 5px orangered;  
    background-color: rgb(111, 114, 135); 
    color: white;
}

/* matTooltip global styling */
.mat-tooltip{
    margin: 0.5em !important;
}