@import "helpers/constants";
@import "helpers/placeholders";

:host {
  @extend %panel-base;
}

.content-wrapper {
  width: 75%;
  height: calc(100vh - 150px);
  max-width: $max-content-width;
  text-align: center;
  border-radius: 8px;
  padding-top: 0.5em;
}

.chart-wrapper {
  display: inline-block;
  margin-top: 2em;
  height: 70%;
  width: 90%;
}

.top-selector-wrapper {
  text-align: start;
  margin-left: 5em;
}
