<div class="mat-elevation-z{{ matElevationValue }}">
  <div [ngClass]="fixedSize && 'table-container'" style="overflow: auto">
    <table *ngIf="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Service name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa usługi</th>
        <td mat-cell *matCellDef="let row">
          <span style="font-weight: 500; opacity: 0.8">{{ row.name }}</span>
        </td>
      </ng-container>

      <!-- Cost per hour Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Koszt godziny pracy</th>
        <td mat-cell *matCellDef="let row">
          {{ isGross ? row.costGross.toFixed(2) : row.costNet.toFixed(2) }} zł
        </td>
      </ng-container>

      <!-- Estimated time Column -->
      <ng-container matColumnDef="estimatedTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Szacowany czas</th>
        <td mat-cell *matCellDef="let row">{{ row.estimatedTime.toFixed(2) }} h</td>
      </ng-container>

      <!-- Total Cost Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Szacowana kwota</th>
        <td mat-cell *matCellDef="let row">
          {{ isGross ? row.totalGross.toFixed(2) : row.totalNet.toFixed(2) }} zł
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Operacje</th>
        <td mat-cell *matCellDef="let row">
          <!-- Edit -->
          <button
            mat-icon-button
            color="primary"
            (click)="onEditClick(row)"
            aria-label="Edit button"
            matTooltip="Edytuj usługę"
            [matTooltipPosition]="'left'"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <!-- Delete -->
          <button
            mat-icon-button
            color="warn"
            (click)="onDeleteClick(row)"
            aria-label="Delete button"
            matTooltip="Usuń usługę"
            [matTooltipPosition]="'right'"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [ngStyle]="{ border: '0px' }" colspan="10">
          <div class="no-services-message">
            <mat-icon>leaderboard</mat-icon>
            <div>Brak usług</div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <!-- Pagination -->
  <mat-paginator
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="8"
    [pageSizeOptions]="[8, 12, 16]"
    aria-label="Wybierz stronę"
  >
  </mat-paginator>
</div>
