<div class="mat-elevation-z8">

  <div class="table-container">

    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Order Number Column (string) -->
      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer zlecenia</th>
        <td mat-cell *matCellDef="let row">
          <a  mat-button 
              matTooltip="Szczegóły zlecenia" 
              [matTooltipPosition]="'right'" 
              [matTooltipClass]="'tooltip-class'"
              aria-label="Order details" 
              href="#" 
              color="primary">
              {{row.orderNumber}}
          </a>
        </td>
      </ng-container>
  
      <!-- Created Date Column -->
      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data utworzenia</th>
        <td mat-cell *matCellDef="let row">{{row.createdAt | date : 'dd.MM.yyyy, H:mm'}}</td>
      </ng-container>

      <!-- Finish Date Column -->
      <ng-container matColumnDef="finishDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data zmiany statusu</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.finishDate">
            {{ row.finishDate | date : 'dd.MM.yyyy, H:mm' }}
          </span>
        </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">
          <app-status-selector 
            (onStatusUpdate)="onStatusUpdate($event)" 
            [status]="row.status">
          </app-status-selector>
        </td>
      </ng-container>

      <!-- Client Column -->
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Klient</th>
        <td mat-cell *matCellDef="let row">

          <!-- Client link -->
          <a *ngIf="row.client"
              matTooltip="Profil klienta" 
              [matTooltipPosition]="'right'" 
              [matTooltipClass]="'tooltip-class'" 
              mat-button 
              aria-label="Client profile"
              href="#" 
              color="primary">
            <mat-icon>{{row.client.type === 'person' ? 'person' : 'groups'}}</mat-icon>
            {{row.client.type === 'person' ? row.client.firstname + ' ' + row.client.lastname : row.client.companyName}}
          </a>
          <!-- Otherwise add button -->
          <button mat-stroked-button color="primary" *ngIf="!row.client">Dodaj</button>

        </td>
      </ng-container>

      <!-- Vehicle Column -->
      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pojazd</th>
        <td mat-cell *matCellDef="let row">

          <!-- Link to vehicle -->
          <a *ngIf="row.vehicle"
              matTooltip="Profil pojazdu" 
              [matTooltipPosition]="'right'" 
              [matTooltipClass]="'tooltip-class'"
              aria-label="Vehicle profile"
              mat-button 
              href="#" 
              color="primary">
            {{row.vehicle.brand}} {{row.vehicle.model}}
          </a>
          <!-- Otherwise add button -->
          <button mat-stroked-button color="primary" *ngIf="!row.vehicle">Dodaj</button>

        </td>
      </ng-container>

      <!-- Admission Date Column -->
      <ng-container matColumnDef="admissionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dostarczenie auta</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.admissionDate; else pickDateButton">
            {{row.admissionDate | date : 'dd.MM.yyyy, H:mm'}} 
          </span>
        </td>
      </ng-container>

      <!-- Deadline Date Column -->
      <ng-container matColumnDef="deadlineDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Termin naprawy</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.deadlineDate; else pickDateButton">
            {{ row.deadlineDate | date : 'dd.MM.yyyy' }}
          </span>
        </td>
      </ng-container>

      <!-- Total Gross Column -->
      <ng-container matColumnDef="totalGross">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kwota do zapłaty</th>
        <td mat-cell *matCellDef="let row">{{ row.totalGross | number : '1.2-2'}} zł</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Operacje</th>
        <td mat-cell *matCellDef="let row">

          <!-- Invoice -->
          <button mat-icon-button 
                  color="primary"
                  aria-label="Invoice button" 
                  matTooltip="Wystaw fakturę" 
                  [matTooltipPosition]="'left'" 
                  [matTooltipClass]="'tooltip-class'" >

            <mat-icon>receipt_long</mat-icon>
          </button>

          <!-- Delete -->
          <button mat-icon-button 
                  color="warn" 
                  aria-label="Delete button"
                  matTooltip="Usuń zlecenie" 
                  [matTooltipPosition]="'right'"
                  [matTooltipClass]="'tooltip-class'" >

            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell"  [ngStyle]="{border: '0px'}" colspan="10" >
          <div class="no-polls-message">
            <mat-icon>leaderboard</mat-icon>
            <div>
              Brak ankiet
            </div>
          </div>
        </td>
      </tr>

    </table>
  </div>
  <!-- Pagination -->
  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="8"
      [pageSizeOptions]="[8, 12, 16]"
      aria-label="Wybierz stronę">
  </mat-paginator>
</div>


<!-- Pick date button -->
<ng-template #pickDateButton>
  <button matTooltip="Wybierz datę"  
          [matTooltipPosition]="'right'" 
          [matTooltipClass]="'tooltip-class'" 
          mat-icon-button 
          color="primary" 
          class="pick-date-button"
          aria-label="Pick the date icon">
            <mat-icon>event</mat-icon>
  </button>
</ng-template>

