<mat-sidenav-container class="sidenav-container mat-elevation-z20">
  <!-- Sidenav at the left (mostly for small screens) -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <!-- Menu -->
    <mat-toolbar class="primary-color">Menu</mat-toolbar>
    <!-- Bookmarks (when small screen) -->
    <mat-nav-list>
      <ng-container *ngIf="accountService.currentUser$ | async">
        <a mat-list-item routerLink="/orders" routerLinkActive="active-link">Zlecenia</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/services" routerLinkActive="active-link">Usługi</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/clients" routerLinkActive="active-link">Klienci</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/vehicles" routerLinkActive="active-link">Pojazdy</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/products" routerLinkActive="active-link">Towary</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/statistics" routerLinkActive="active-link">Statystyki</a>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content (with toolbar at the top) -->
  <mat-sidenav-content class="bg-gradient">
    <!-- Toolbar (main at top) -->
    <mat-toolbar class="mat-elevation-z1" color="primary">
      <!-- Logo -->
      <img
        id="main-logo"
        routerLink="/orders"
        [ngClass]="{ 'disable-hover': !(accountService.currentUser$ | async) }"
        *ngIf="accountService.currentUser$ | async"
        src="../../assets/logo.svg"
      />

      <!-- Bookmarks left-->
      <div *ngIf="!(isSmallOrXSmall$ | async) && (accountService.currentUser$ | async)">
        <a
          class="bookmark bookmark-divider"
          routerLinkActive="active-link"
          mat-button
          routerLink="/orders"
          >Zlecenia</a
        >
        <a
          class="bookmark bookmark-divider"
          routerLinkActive="active-link"
          mat-button
          routerLink="/services"
          >Usługi</a
        >
        <a
          class="bookmark bookmark-divider"
          routerLinkActive="active-link"
          mat-button
          routerLink="/products"
          >Towary</a
        >
        <a
          class="bookmark bookmark-divider"
          routerLinkActive="active-link"
          mat-button
          routerLink="/clients"
          >Klienci</a
        >
        <a
          class="bookmark bookmark-divider"
          routerLinkActive="active-link"
          mat-button
          routerLink="/vehicles"
          >Pojazdy</a
        >
        <a class="bookmark" routerLinkActive="active-link" mat-button routerLink="/statistics"
          >Statystyki</a
        >
      </div>

      <!-- Free space -->
      <span class="spacer"></span>

      <!-- Bookmarks right-->
      <div *ngIf="!(accountService.currentUser$ | async)">
        <a
          *ngIf="router.url === '/register'"
          (click)="togglePanel()"
          class="right-bookmark"
          mat-button
          routerLink="/"
          >Sign in</a
        >
        <a
          *ngIf="!(router.url === '/register')"
          (click)="togglePanel()"
          class="right-bookmark"
          mat-button
          routerLink="/register"
          >Sign up</a
        >
      </div>

      <!-- Open sidenav button -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        matTooltip="Menu"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isSmallOrXSmall$ | async) && (accountService.currentUser$ | async)"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- Account button -->
      <button
        *ngIf="accountService.currentUser$ | async"
        id="account-button"
        mat-button
        [matMenuTriggerFor]="account"
      >
        Konto
      </button>
      <!-- Options -->
      <mat-menu #account="matMenu">
        <button mat-menu-item>Dane konta</button>
        <button mat-menu-item>Dane firmy</button>
        <button mat-menu-item (click)="logout()">Sign out</button>
      </mat-menu>
    </mat-toolbar>

    <!-------------------------------------------- Changing content -------------------------------------------->
    <div class="main-content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-------------------------------------------- Changing content -------------------------------------------->

    <!-- Footer (just append the main content)-->
    <!-- <div class="footer primary-color mat-elevation-z4">
      <span>ServcieAssistance.pl &copy;Wiktor Danielewski</span>
    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
