@import "helpers/constants";

$form-gap: 1em;

.mat-dialog-content {
  margin-top: 1.5em;
}

.toggle-container {
  text-align: center;
}

.mat-button-toggle {
  width: 160px;

  .groups-icon {
    margin-right: 8px;
  }
  .person-icon {
    margin-left: 5px;
    font-size: 21px;
  }
}

#client-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: $form-gap;
  padding: 2em 1em 0em 1em;

  > * {
    flex: 1 1 calc(50% - $form-gap/2);
    min-width: 160px;
  }
}

@media (max-width: $small-breakpoint) {
  #client-form {
    padding: 2em 0em 0em 0em;
  }

  .mat-button-toggle {
    width: 80px;
    .groups-icon,
    .person-icon {
      margin: 0px;
    }
  }

  .toggle-text {
    display: none;
  }
}
