<!-- Title -->
<h1 mat-dialog-title>Wprowadź dane nowego pojazdu</h1>
<mat-divider></mat-divider>

<!-- Content -->
<div mat-dialog-content>

    <!-- Form -->
    <form id="vehicleForm" [formGroup]="vehicleForm" (ngSubmit)="vehicleForm.valid && onSaveChanges()" class="create-client-form">

        <!-- Brand -->
        <app-text-input 
            [label]="'Marka'" 
            [formControl]="vehicleForm.controls['brand']">
        </app-text-input>

        <!-- Model -->
        <app-text-input 
            [label]="'Model'" 
            [formControl]="vehicleForm.controls['model']">
        </app-text-input>

        <!-- Color -->
        <app-text-input 
            [label]="'Kolor'" 
            [formControl]="vehicleForm.controls['color']">
        </app-text-input>

        <!-- Registration Number -->
        <app-text-input 
            [label]="'Numer rejestracyjny'" 
            [formControl]="vehicleForm.controls['registrationNumber']">
        </app-text-input>

        <!-- Production Date -->
        <app-text-input 
            [label]="'Rok produkcji'" 
            [formControl]="vehicleForm.controls['productionDate']">
        </app-text-input>

        <!-- Current owner -->
        <app-client-select-input
            [label]="'Właściciel'" 
            [formControl]="vehicleForm.controls['currentOwner']">
        </app-client-select-input>

        <!-- Engine fuel -->
        <app-text-input 
            [label]="'Rodzaj silnika'" 
            [formControl]="vehicleForm.controls['engineFuel']">
        </app-text-input>

        <!-- Vin -->
        <app-text-input 
            [label]="'VIN'" 
            [formControl]="vehicleForm.controls['vin']">
        </app-text-input>

        <!-- Engine Code -->
        <app-text-input 
            [label]="'Kod silnika'" 
            [formControl]="vehicleForm.controls['engineCode']">
        </app-text-input>

        <!-- Capacity -->
        <app-text-input 
            [label]="'Pojemność[cm3]'" 
            [formControl]="vehicleForm.controls['capacity']">
        </app-text-input>

        <!-- Engine Power -->
        <app-text-input 
            [label]="'Moc silnika[kW]'" 
            [formControl]="vehicleForm.controls['enginePower']">
        </app-text-input>

        <!-- Technical Inspection End -->
        <app-date-input
            [label]="'Ważność przeglądu'"
            [minDate]="getCurrentDate()"
            [includeClearBtn]="true"
            [formControl]="vehicleForm.controls['technicalInspectionEnd']">
        </app-date-input>

        <!-- Description -->
        <app-text-input 
            [isTextArea]="true"
            [label]="'Opis'" 
            [formControl]="vehicleForm.controls['description']">
        </app-text-input>

        <!-- First Registration -->
        <app-date-input
            [label]="'Data pierwszej rejestracji'"
            [maxDate]="getCurrentDate()"
            [includeClearBtn]="true"
            [formControl]="vehicleForm.controls['firstRegistration']">
        </app-date-input>
    </form>
</div>

<!-- Actions -->
<div [align]="'end'" mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Porzuć</button>
  <button form="vehicleForm" mat-button color="primary" [disabled]="!vehicleForm.valid || isSaving" cdkFocusInitial>
    {{isSaving? 'Zapisywanie...' : 'Zapisz'}}
</button>
</div>
