<div *ngIf="client" class="profile-paper">
  <div class="profile-intro">
    <!-- Client name / Company name -->
    <div class="profile-primary-name">
      {{ isCompany ? client.companyName : client.firstname + " " + client.lastname }}
    </div>

    <!-- Company owner (if company) -->
    <div *ngIf="isCompany" class="profile-secondary-name">
      {{ client.firstname + " " + client.lastname }}
    </div>

    <!-- Client address -->
    <div class="client-address">
      <div class="street">{{ client.street || "&nbsp;" }}</div>
      <div class="postalcode-and-city">
        <span>{{ client.postalCode || "&nbsp;" }}</span>
        <span>{{ client.city || "&nbsp;" }}</span>
      </div>
    </div>

    <!-- Profile label -->
    <div class="profile-label">
      <mat-icon>
        {{ isCompany ? "groups" : "person" }}
      </mat-icon>
      <span>{{ isCompany ? "Firma" : "Klient indywidualny" }}</span>
    </div>

    <!-- Mail label (when small screen) -->
    <div *ngIf="client.email" class="profile-label profile-label-mail">
      <app-send-email-link
        class="email-link"
        [customColor]="'white'"
        [email]="client.email"
      ></app-send-email-link>
    </div>

    <!-- Contact -->
    <div class="contact-data">
      <div>{{ client.phone || "&nbsp;" }}</div>
      <div *ngIf="isCompany && client.nip" class="nip"><span>NIP </span>{{ client.nip }}</div>
      <app-send-email-link
        *ngIf="client.email"
        class="email-link"
        [customColor]="'white'"
        [email]="client.email"
      ></app-send-email-link>
    </div>
  </div>

  <!-- Tabs -->
  <nav mat-tab-nav-bar animationDuration="0ms" mat-align-tabs="start" [tabPanel]="tabPanel">
    <a
      mat-tab-link
      routerLinkActive="active-tab-link"
      [routerLink]="['./']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dane klienta
    </a>
    <a mat-tab-link routerLinkActive="active-tab-link" [routerLink]="['./vehicles']"> Pojazdy </a>
    <a mat-tab-link routerLinkActive="active-tab-link" [routerLink]="['./orders']"> Zlecenia </a>
  </nav>
  <!-- Tabs-content -->
  <mat-tab-nav-panel class="profile-tab-content" #tabPanel
    ><router-outlet></router-outlet
  ></mat-tab-nav-panel>
</div>
