<div *ngIf="client" class="profile-wrapper">
  <div class="profile-paper mat-elevation-z10">
    <div class="profile-intro">
      <!-- Client name / Company name -->
      <div class="primary-name">
        {{ isCompany ? client.companyName : client.firstname + " " + client.lastname }}
      </div>

      <!-- Client name (if company) -->
      <div *ngIf="isCompany" class="secondary-name">
        {{ client.firstname + " " + client.lastname }}
      </div>

      <!-- Client address -->
      <div class="client-address">
        <div>{{ client.street }}</div>
        <div>{{ client.postalCode }} {{ client.city }}</div>
      </div>

      <!-- Right corner label -->
      <div class="panel-label">
        <mat-icon>
          {{ isCompany ? "groups" : "person" }}
        </mat-icon>
        {{ isCompany ? "Firma" : "Klient indywidualny" }}
      </div>

      <!-- Right bottom data -->
      <div class="right-bottom-data">
        <div>{{ client.phone }}</div>
        <div *ngIf="isCompany">NIP: {{ client.nip }}</div>
        <app-send-email-link [customColor]="'white'" [email]="client.email"></app-send-email-link>
      </div>
    </div>

    <div class="profile-content-wrapper">
      <mat-tab-group animationDuration="0ms" mat-align-tabs="start">
        <mat-tab label="Dane klienta">
          <ng-template [ngTemplateOutlet]="clientData"></ng-template>
        </mat-tab>
        <mat-tab label="Pojazdy">
          <ng-template [ngTemplateOutlet]="clientVehicles"></ng-template>
        </mat-tab>
        <mat-tab label="Zlecenia">
          <ng-template [ngTemplateOutlet]="clientOrders"></ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<!------------------------------------------------------------------- Data Update Tab--------------------------------------------------------------------->
<ng-template #clientData>
  <div class="tab-wrapper">
    <form
      *ngIf="editForm"
      [formGroup]="editForm"
      (ngSubmit)="editForm.valid && onSaveChanges()"
      class="edit-form"
    >
      <!-- Company name (if company) -->
      <app-text-input
        *ngIf="isCompany"
        [label]="'Nazwa firmy'"
        [formControl]="editForm.controls['companyName']"
      >
      </app-text-input>

      <!-- NIP (if company) -->
      <app-text-input *ngIf="isCompany" [label]="'NIP'" [formControl]="editForm.controls['nip']">
      </app-text-input>

      <!-- First name -->
      <app-text-input [label]="'Imię'" [formControl]="editForm.controls['firstname']">
      </app-text-input>

      <!-- Last name -->
      <app-text-input [label]="'Nazwisko'" [formControl]="editForm.controls['lastname']">
      </app-text-input>

      <!-- Street -->
      <app-text-input [label]="'Ulica'" [formControl]="editForm.controls['street']">
      </app-text-input>

      <!-- City -->
      <app-text-input [label]="'Miasto'" [formControl]="editForm.controls['city']">
      </app-text-input>

      <!-- Postal code -->
      <app-text-input [label]="'Kod pocztowy'" [formControl]="editForm.controls['postalCode']">
      </app-text-input>

      <!-- Country code -->
      <app-text-input [label]="'Kraj'" [formControl]="editForm.controls['countryCode']">
      </app-text-input>

      <!-- Phone number -->
      <app-text-input [label]="'Numer telefonu'" [formControl]="editForm.controls['phone']">
      </app-text-input>

      <!-- E-mail -->
      <app-text-input [label]="'Adres e-mail'" [formControl]="editForm.controls['email']">
      </app-text-input>

      <div class="save-button-area">
        <button
          mat-raised-button
          type="submit"
          class="save-button"
          color="primary"
          [disabled]="!editForm.dirty || !editForm.valid || this.isSaving"
        >
          {{ isSaving ? "Zapisywanie..." : "Zapisz" }}
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!------------------------------------------------------------------- Client's Vehicles Tab --------------------------------------------------------------------->
<ng-template #clientVehicles>
  <div class="tab-wrapper">
    <div class="filters-wrapper">
      <!-- Add vehicle button -->
      <button
        mat-raised-button
        color="primary"
        (click)="onAddVehicle()"
        aria-label="Add vehicle button"
      >
        Dodaj pojazd
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <!-- Table -->
    <app-vehicles-table
      [fixedSize]="false"
      [matElevationValue]="1"
      [initialData]="client.vehicles"
      [hideCurrentOwnerColumn]="true"
    >
    </app-vehicles-table>
  </div>
</ng-template>

<!------------------------------------------------------------------- Client's Orders Tab --------------------------------------------------------------------->
<ng-template #clientOrders>
  <div class="tab-wrapper">
    <div class="filters-wrapper">
      <!-- Add order button -->
      <button
        mat-raised-button
        color="primary"
        (click)="onAddOrder()"
        aria-label="Add order button"
      >
        Dodaj zlecenie
        <mat-icon>add</mat-icon>
      </button>
      <!-- Hide finished toggle -->
      <mat-slide-toggle (toggleChange)="onToggleChange()" color="primary" checked="displayFinished">
        Ukryj zakończone
      </mat-slide-toggle>
    </div>

    <!-- Table -->
    <app-orders-table
      [fixedSize]="false"
      [matElevationValue]="1"
      [initialData]="filterFinshedOrders(client.orders)"
      [hideClientColumn]="true"
    >
    </app-orders-table>
  </div>
</ng-template>
