.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-404{
    margin-bottom: 0px; 
    font-weight: 500;
}
