:host{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-container{
    text-align: center; 
    padding-bottom: 4em;    /*make little higher*/
}

.text-404{
    margin-bottom: 0px; 
    font-weight: 500;
}
