<mat-form-field appearance="fill">
  <!-- Label -->
  <mat-label>{{ label }}</mat-label>
  <!-- Input -->
  <input
    [type]="isPasswordVisible ? 'text' : 'password'"
    [formControl]="ngControl.control"
    matInput
  />
  <!-- Toggle password visibility (suffix)-->
  <mat-icon *ngIf="isTrigger" matSuffix (click)="togglePasswordVisibility()">
    {{ isPasswordVisible ? "visibility_off" : "visibility" }}
  </mat-icon>

  <!------------------------------------------------ Possible errors ---------------------------------------------->

  <!-- Required -->
  <mat-error *ngIf="ngControl.control.errors?.required"> The field cannot be empty! </mat-error>

  <!-- IsMatching (custom) -->
  <!-- <mat-error *ngIf="ngControl.control.errors?.isMatching && !(ngControl.control.errors?.required)"> -->
  <mat-error *ngIf="ngControl.control.errors?.isMatching && !ngControl.control.errors?.required">
    The fields don't match!
  </mat-error>

  <!-- Minlength -->
  <mat-error *ngIf="ngControl.control.errors?.minlength">
    The field must contain at least
    {{ ngControl.control.errors!["minlength"].requiredLength }} characters!
  </mat-error>
</mat-form-field>
