:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.5em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    margin: 0 1em;
  }
}

.action-button {
  border: solid 1px white;
}
