@import "helpers/constants";

:host {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/car-repair-wallpaper.jpg");
  background-size: cover;
  margin-top: -$navbar-height;
}

.form-paper {
  margin-top: $navbar-height;
}

.banner {
  background-color: $banner-color;
  padding: $inputs-content-padding;
  position: relative;
  border-top-left-radius: $inputs-border-radius;
  border-top-right-radius: $inputs-border-radius;
  border-bottom: 1px solid $primary;
  margin-bottom: 1.34375em;
}

.banner > strong {
  color: $primary;
  display: inline-block;
  margin-bottom: 0.5em;
}

.btn-wrapper {
  text-align: end;
}
