@import "helpers/constants";

.main-content-wrapper {
  min-height: calc(100% - $navbar-height);
  display: flex;
  flex-direction: column;
  padding: max(2.5%, 24px) max(2.5%, 16px);
}

@media (max-width: $small-breakpoint) {
  .main-content-wrapper {
    min-height: calc(100% - $navbar-shrink-height);
  }
}
