<a
  *ngIf="client"
  matTooltip="Profil klienta"
  [matTooltipPosition]="tooltipPosition"
  mat-button
  aria-label="Client profile"
  routerLink="/clients/{{ client.id }}"
  [style.color]="customColor"
  [color]="color"
>
  <mat-icon>{{ this.client.type === "company" ? "groups" : "person" }}</mat-icon>
  <!-- TODO - Custom pipe -->
  <span class="client-name">
    {{
      this.client.type === "company" ? client.companyName : client.firstname + " " + client.lastname
    }}
  </span>
  <div *ngIf="containLabel" class="links-label">Właściciel</div>
</a>
