@import "helpers/constants";
@import "helpers/placeholders";

.mat-button {
  max-width: 160px;
  width: 100%;
  text-align: left;
  @extend %text-overflow-ellipses;
}

@media (max-width: $medium-breakpoint) {
  .mat-button {
    max-width: 130px;
  }
}

@media (max-width: $small-breakpoint) {
  .mat-button {
    max-width: 100px;
  }
}
