<mat-form-field
  [ngClass]="profileMode && 'profile-mode'"
  [appearance]="profileMode ? 'none' : appearance"
>
  <!-- Prefix (circle) -->
  <div
    style.backgroundColor="{{ getStatusColor(selectedPosition) }}"
    class="status-circle"
    [attr.data-one-sign]="status.name[0]"
    matPrefix
  ></div>

  <!-- Select status -->
  <mat-select [(value)]="selectedPosition" (selectionChange)="onSelectionChange()">
    <!-- Options -->
    <mat-option *ngFor="let status of possibleStatuses" value="{{ status.position }}">
      <!-- Circle with corresponding color -->
      <div style.backgroundColor="{{ status.color }}" class="status-circle-list"></div>
      {{ status.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
