@import "helpers/constants";

$form-fields-gap: 1.5em;

:host {
  flex: 1;
  padding: 1em;
}

.edit-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: $form-fields-gap;
}

.edit-form > * {
  flex: 1 1 calc(50% - $form-fields-gap/2);
  min-width: 180px;
}
