@import "helpers/constants";

$form-fields-gap: 2.5%;

:host {
  flex: 1;
}

.edit-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: $form-fields-gap;
}

.edit-form > * {
  flex: 1 1 calc(50% - $form-fields-gap/2);
}
