<!-- Title -->
<div mat-dialog-title class="dialog-header">
  <h1>Uzupełnij dane zlecenia</h1>
  <mat-slide-toggle
    class="toggle"
    [ngStyle]="{ display: this.data?.order ? 'none' : '' }"
    [labelPosition]="'before'"
    [(ngModel)]="isPricing"
    color="primary"
  >
    Wycena
  </mat-slide-toggle>
</div>
<mat-divider class="header-divider" *ngIf="!isPricing"></mat-divider>

<!-- Content -->
<div mat-dialog-content>
  <form id="order-form" [formGroup]="orderForm" (ngSubmit)="onSaveChanges()">
    <!-- Vehicle and Client -->
    <div *ngIf="!isPricing" class="vehicle-and-client-container">
      <!-- Client -->
      <div class="client-container">
        <app-custom-header [headerText]="'Klient'"></app-custom-header>
        <app-client-select-input
          (clientChange)="onClientChange($event)"
          [selectedClient]="selectedClient"
          [label]="'Klient'"
          [formControl]="orderForm.controls['client']"
        ></app-client-select-input>
        <app-text-input
          [isTextArea]="true"
          [rowsNumber]="4"
          [label]="'Opis klienta'"
          [formControl]="orderForm.controls['clientDescription']"
        >
        </app-text-input>
      </div>
      <!-- Divider -->
      <mat-divider class="client-vehicle-divider" [vertical]="true"></mat-divider>
      <!-- Vehicle -->
      <div class="vehicle-container">
        <app-custom-header [headerText]="'Pojazd'"></app-custom-header>
        <app-vehicle-select-input
          (vehicleChange)="onVehicleChange($event)"
          [selectedVehicle]="selectedVehicle"
          [formControl]="orderForm.controls['vehicle']"
        ></app-vehicle-select-input>
        <app-text-input
          [suffixText]="'km'"
          [label]="'Przebieg'"
          [formControl]="orderForm.controls['mileage']"
        >
        </app-text-input>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Poziom paliwa</mat-label>
          <mat-select formControlName="fuelLevel">
            <mat-option value="1/4">1/4</mat-option>
            <mat-option value="2/4">2/4</mat-option>
            <mat-option value="3/4">3/4</mat-option>
            <mat-option value="4/4">4/4</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Services -->
    <app-custom-header [disableBottomMargin]="true" [headerText]="'Usługi'"></app-custom-header>
    <div class="table-container">
      <div class="add-strip">
        <!-- Input -->
        <app-service-select-input
          (serviceChange)="onServiceChange($event)"
          [formControl]="serviceForm.controls['service']"
          [label]="'Usługa'"
        ></app-service-select-input>
        <!-- Add -->
        <button
          mat-mini-fab
          [disabled]="!selectedService"
          (click)="onAddService()"
          color="primary"
          type="button"
          aria-label="Add service"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <!-- Services table -->
      <app-order-services-table
        appTableBase
        [heightInRows]="'auto'"
        [matElevationValue]="2"
      ></app-order-services-table>
    </div>

    <!-- Products -->
    <app-custom-header [disableBottomMargin]="true" [headerText]="'Towary'"></app-custom-header>

    <div class="table-container">
      <div class="add-strip">
        <!-- Count -->
        <app-text-input
          class="count-input"
          [label]="'Liczba'"
          [type]="'number'"
          [minNumber]="0"
          [formControl]="productForm.controls['count']"
        >
        </app-text-input>
        <!-- Product Select Input -->
        <app-product-select-input
          (productChange)="onProductChange($event)"
          [formControl]="productForm.controls['product']"
          [label]="'Towar'"
        ></app-product-select-input>
        <!-- Add product button -->
        <button
          mat-mini-fab
          [disabled]="!selectedProduct"
          (click)="onAddProduct()"
          color="primary"
          type="button"
          aria-label="Add product"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <!-- Products table -->
      <app-order-products-table
        appTableBase
        [heightInRows]="'auto'"
        [matElevationValue]="2"
      ></app-order-products-table>
    </div>
  </form>
</div>

<!-- Actions -->
<mat-divider></mat-divider>
<div [align]="'end'" mat-dialog-actions>
  <span class="summary-text">
    Razem: <strong>{{ getTotalGross().toFixed(2) }}&nbsp;zł</strong>
  </span>
  <button mat-button [mat-dialog-close]>Porzuć</button>
  <button
    mat-button
    type="submit"
    form="order-form"
    color="primary"
    [disabled]="
      !(
        (!isPricing && orderForm.valid) ||
        (isPricing &&
          (servicesTable?.dataSource.data.length ||
            productsTable?.dataSource.data.length ||
            this?.data?.order))
      ) || isSaving
    "
    cdkFocusInitial
  >
    {{ isSaving ? "Zapisywanie..." : "Zapisz" }}
  </button>
</div>
