@import "helpers/constants";

$dialog-default-padding: 24px;
$header-horizontal-margin: 16px;

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 $header-horizontal-margin;

  .toggle {
    color: rgba(0, 0, 0, 0.6);
  }
}

.vehicle-and-client-container {
  display: flex;
  flex-wrap: wrap;
  .vehicle-container,
  .client-container {
    flex: 1;
    flex-direction: column;
    min-width: 249.5px;
    padding: $dialog-default-padding;
    padding-bottom: calc($dialog-default-padding/2);
  }
}

.table-container {
  padding: $dialog-default-padding;
  .add-strip {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    .mat-mini-fab {
      margin-top: 9px;
    }
    .count-input {
      width: 70px;
      min-width: 70px;
    }
  }
}

.summary-text {
  flex: 1;
  margin-left: $header-horizontal-margin;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.25em;
  color: $primary;
}

.w-100 {
  width: 100%;
}

@media (max-width: $small-breakpoint) {
  .dialog-header {
    margin: 0;
    flex-direction: column;
    > h1 {
      margin-bottom: calc($dialog-default-padding/2);
    }

    .toggle {
      margin-bottom: $dialog-default-padding;
      align-self: flex-end;
    }
  }

  .client-vehicle-divider {
    display: none;
  }

  .vehicle-and-client-container {
    .vehicle-container,
    .client-container {
      padding-left: calc($dialog-default-padding/4);
      padding-right: 0px;
    }

    .vehicle-container {
      padding-top: 0px;
    }
  }
  .table-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
