@import "helpers/constants";

.panel-wrapper {
  width: 100%;
  max-width: $max-panel-content-width;
}

.panel-filters-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  padding-bottom: 1em;
}
