// Try to reproduce this with mixin or better placeholder class
@each $type in $snackbar-types {
  .snackbar-#{$type}-panel {
    $border-left-color: map-get(
      (
        "success": $snackbar-success-color,
        "info": $snackbar-info-color,
        "warn": $snackbar-warn-color,
        "error": $snackbar-error-color
      ),
      $type
    );
    border-left: solid 5px $border-left-color;
    background-color: $snackbar-paper-color;
    color: white;
  }
}
