<div class="register-panel-container">

    <form [formGroup]="registerForm" class="register-form  mat-elevation-z6">

        <!-- Register header -->
        <h1 class="register-header">Rejestracja</h1>

        <!--------------------------------------- Username ----------------------------------------->
        <mat-form-field appearance="fill">

            <!-- Label -->
            <mat-label>Nazwa użytkownika</mat-label>
            <!-- Input -->
            <input type="text" formControlName="username" matInput>

            <!-- Errors displaying-->
            <mat-error *ngIf="registerForm.controls['username'].hasError('required')">
                Proszę wprowadź nazwę użytkownika
            </mat-error>
            <mat-error *ngIf="registerForm.controls['username'].hasError('minlength')">
                Nazwa użytkownika musi zawierać minimum {{registerForm.controls['username'].errors!['minlength'].requiredLength }} znaków!
            </mat-error>

        </mat-form-field>

        <!----------------------------------------- Password ----------------------------------------->
        <mat-form-field appearance="fill">

            <!-- Label -->
            <mat-label>Hasło</mat-label>
            <!-- Input -->
            <input type="password" formControlName="password" matInput>

            <!-- Errors displaying-->
            <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                Proszę wprowadź hasło
            </mat-error>
            <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                <!-- Hasło musi zawierać minimum {{registerForm.controls['password'].getError('minlength').requiredLength }} znaków! -->
                Hasło musi zawierać minimum {{registerForm.controls['password'].errors!['minlength'].requiredLength }} znaków!
            </mat-error>

        </mat-form-field>

        <!------------------------------------------ Confirm password ---------------------------------->
        <mat-form-field appearance="fill">

            <!-- Label -->
            <mat-label>Powtórz hasło</mat-label>
            <!-- Input -->
            <input type="password" formControlName="confirmPassword" matInput>
    
            <!-- Errors displaying-->
            <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
                Proszę powtórz hasło
            </mat-error>
            <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('isMatching') 
                                && !(registerForm.controls['confirmPassword'].hasError('required'))">
                Hasło różni się od poprzedniego
            </mat-error>

        </mat-form-field>

        <!------------------------------------ Errors from server ------------------------------------>

        <ng-container *ngIf="validationErrors.length">
            <ul class="validation-errors-list">
                <li *ngFor="let error of validationErrors">{{error}}</li>
            </ul>
        </ng-container>

        <!------------------------------------ Register button ------------------------------------>
        <button mat-raised-button 
            class="register-button"
            color="primary" 
            [disabled]="isRegistering || !registerForm.valid"  
            (click)="onRegister()">

                {{isRegistering ? "Rejestracja..." : "Zarejestruj"}} 
        </button>
    </form>
</div>
