:host{
    flex: 1;
    display: flex;
}

.form-wrapper{
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.register-form{
    border-radius: 5px; 
    display: flex; 
    flex-direction: column; 
    width: 100%;
    max-width: 300px; 
    background-color: white; 
    padding: 50px 70px;
}

.register-header{
    text-align: center; 
    margin-bottom: 30px;
}

.register-button{
    margin: 20px 50px;
}

/* Change height of error message below input */
::ng-deep .mat-form-field-subscript-wrapper{
    margin-top: .3em !important; 
}

/* ------------------- Validation errors list -------------------*/
.validation-errors-list{
    color: red;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,.06); 
    border-radius: 4px;
}

.validation-errors-list li{
    margin: 0px;
    font-size: 0.875em;
}