<div class="register-panel-container">

    <form [formGroup]="registerForm" class="register-form  mat-elevation-z6">

        <!-- Register header -->
        <h1 class="register-header">Rejestracja</h1>

        <!--------------------------------------- Username ----------------------------------------->
        <app-text-input 
            [label]="'Nazwa użytkownika'" 
            [formControl]="registerForm.controls['username']">
        </app-text-input>

        <!----------------------------------------- Password ----------------------------------------->
        <app-password-input 
            [label]="'Hasło'" 
            [isTrigger]= "false"
            [formControl]="registerForm.controls['password']">
        </app-password-input>

        <!----------------------------------------- Confirm password ----------------------------------------->
        <app-password-input 
            [label]="'Powtórz hasło'" 
            [isTrigger]= "false"
            [formControl]="registerForm.controls['confirmPassword']">
        </app-password-input>

        <!------------------------------------ Errors from server ------------------------------------>

        <ng-container *ngIf="validationErrors.length">
            <ul class="validation-errors-list">
                <li *ngFor="let error of validationErrors">{{error}}</li>
            </ul>
        </ng-container>

        <!------------------------------------ Register button ------------------------------------>
        <button mat-raised-button 
            class="register-button"
            color="primary" 
            [disabled]="isRegistering || !registerForm.valid"  
            (click)="onRegister()">

                {{isRegistering ? "Rejestracja..." : "Zarejestruj"}} 
        </button>
        
    </form>
</div>
