$form-column-gap: 1.25em;
$form-field-min-width: 240px;

.edit-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: $form-column-gap;
  padding: 1em;
  > * {
    flex: 1 1 calc(50% - $form-column-gap/2);
    min-width: $form-field-min-width;
  }
  .header {
    flex: 1 1 100%;
    margin-top: 1em;
  }
}

.combine-two {
  display: flex;
  column-gap: $form-column-gap;
  > * {
    flex: 1;
  }
}

.margin-and-sales-price {
  display: flex;
  column-gap: $form-column-gap;
  .margin {
    flex: 1;
    min-width: 100px;
  }
  .sales-price {
    flex: 3;
  }
}
