<div *ngIf="order" class="profile-paper">
  <div class="profile-intro">
    <!-- Order number -->
    <div class="profile-title">{{ order.orderNumber }}</div>

    <!-- Created At -->
    <div class="profile-subtitle">{{ order.createdAt | date : "short" }}</div>

    <!-- Profile-label -->
    <div class="profile-label">
      <app-status-selector [profileMode]="true" [status]="order.status"></app-status-selector>
    </div>

    <!-- Right bottom data -->
    <div class="profile-right-corner-data">
      <!-- Client -->
      <app-client-profile-link
        [customColor]="'white'"
        [label]="'Klient'"
        [client]="order.client"
      ></app-client-profile-link>
      <!-- Vehicle -->
      <app-vehicle-profile-link
        [label]="'Pojazd'"
        [includeIcon]="true"
        [customColor]="'white'"
        [vehicle]="order.vehicle"
      ></app-vehicle-profile-link>
    </div>
  </div>

  <!-- Tabs -->
  <nav mat-tab-nav-bar animationDuration="0ms" mat-align-tabs="start" [tabPanel]="tabPanel">
    <a
      mat-tab-link
      routerLinkActive="profile-active-tab-link"
      [routerLink]="['./']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dane zlecenia
    </a>
    <a mat-tab-link routerLinkActive="profile-active-tab-link" [routerLink]="['./basket']">
      Usługi i Towary
    </a>
  </nav>

  <!-- Tabs-content -->
  <mat-tab-nav-panel class="profile-tab-content" #tabPanel
    ><router-outlet></router-outlet
  ></mat-tab-nav-panel>
</div>
