@import "helpers/constants";
@import "helpers/placeholders";
@import "components/profiles";

$intro-primary: hsl(200, 30%, 46%);
$intro-primary-dark: hsl(200, 30%, 40%);

:host {
  @extend %profile-host;
}

.profile-right-corner-data {
  right: calc($intro-horizontal-padding - $link-default-horizontal-padding);
}

.profile-intro {
  min-height: 130px;
}

// Override colors
.profile-paper {
  border-color: $intro-primary;
  .mat-tab-nav-bar,
  .mat-tab-header {
    background-color: $intro-primary;
  }
  .mat-tab-link {
    color: $intro-primary-dark;
  }
}
.profile-intro {
  background-color: $intro-primary;
}
.profile-label {
  background-color: $intro-primary-dark;
}

// Override default media (_profiles.scss)
@media (max-width: $medium-breakpoint) {
  .profile-right-corner-data {
    bottom: -24px;
  }
}

@media (max-width: $small-breakpoint) {
  :host ::ng-deep .profile-right-corner-data {
    display: flex;
    right: 4px;
    bottom: 8px;
    .link-text,
    .link-label {
      display: none;
    }
  }
}
