@import "helpers/constants";

:host {
  flex: 1;
  display: flex;
}

.statistics-panel-container {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: 75%;
  max-width: $max-content-width;
  height: 90%;
  text-align: center;
  border-radius: 8px;
  padding-top: 0.5em;
}

.chart-wrapper {
  display: inline-block;
  margin-top: 2em;
  height: 70%;
  width: 90%;
}

.top-selector-wrapper {
  text-align: start;
  margin-left: 5em;
}
