.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

/* ------------------ Top toolbar (main) ------------------*/

#main-logo{
  height: 2em;
  margin-right: 1em;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
/* Make better hover styling of bookmarks */
a:hover{
  background: rgba(0,0,0,.2);
}

.bookmark{
  font-size: 1rem;
  margin-left: 8px;
}

.bookmark-divider{
  position: relative; /* Important to center after element */
}
/* Bookmarks divider */
.bookmark-divider::after{
  content: '';
  height: 60%;
  width: 100%;
  position: absolute;
  bottom: 20%;
  left: 3px;
  border-right: solid 2px white;
}

.spacer {
  flex: 1 1 auto;
}

/* ------------------ Footer ------------------*/
.footer {
  height: 64px;
  width: 100%;
  position: sticky;  /* Sticky appends the footer after nav-container */
  position: -moz-sticky; 
  position: -webkit-sticky; 
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* -- Option */
  /* position: fixed; --it overlaps the nav-container */
  /* bottom: 0; */
}

