@import "helpers/constants";
@import "helpers/placeholders";

$table-border-radius: 4px;
$headerHeight: 56px;

:host {
  @extend %table-host;
}

@media (max-width: $medium-breakpoint) {
  .mat-column-vin,
  .mat-column-capacity,
  .mat-column-enginePower {
    display: none;
  }
}

@media (max-width: $small-breakpoint) {
  .mat-column-engineFuel,
  .mat-column-productionDate {
    display: none;
  }
}
