<div *ngIf="dataSource" class="table-wrapper mat-elevation-z{{ matElevationValue }}">
  <div class="table-internal-wrapper" [ngStyle]="{ 'min-height.px': calculateMinHeight() }">
    <table class="table" mat-table matSort aria-label="Elements">
      <!-- Vehicle Name Column (brand + model) -->
      <ng-container matColumnDef="vehicleName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marka/Model</th>
        <td mat-cell *matCellDef="let row">
          <!-- Link to vehicle -->
          <app-vehicle-profile-link [vehicle]="row"></app-vehicle-profile-link>
        </td>
      </ng-container>

      <!-- Registration Number Column -->
      <ng-container matColumnDef="registrationNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer rejestracyjny</th>
        <td mat-cell *matCellDef="let row">
          {{ row.registrationNumber }}
        </td>
      </ng-container>

      <!-- Vin Column -->
      <ng-container matColumnDef="vin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>VIN</th>
        <td mat-cell *matCellDef="let row">
          {{ row.vin }}
        </td>
      </ng-container>

      <!-- Current Owner Column -->
      <ng-container matColumnDef="currentOwner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Właściciel</th>
        <td mat-cell [style.text-align]="!row.currentOwner ? 'center' : ''" *matCellDef="let row">
          <!-- Current Owner link -->
          <app-client-profile-link [client]="row.currentOwner"></app-client-profile-link>
        </td>
      </ng-container>

      <!-- Production Date Column -->
      <ng-container matColumnDef="productionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok produkcji</th>
        <td mat-cell *matCellDef="let row">
          {{ row.productionDate }}
        </td>
      </ng-container>

      <!-- Capacity Column -->
      <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pojemność [cm3]</th>
        <td mat-cell *matCellDef="let row">
          {{ row.capacity }}
        </td>
      </ng-container>

      <!-- Engine Fuel Column -->
      <ng-container matColumnDef="engineFuel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rodzaj silnika</th>
        <td mat-cell *matCellDef="let row">
          {{ row.engineFuel }}
        </td>
      </ng-container>

      <!-- Engine Power Column -->
      <ng-container matColumnDef="enginePower">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Moc silnika [kW]</th>
        <td mat-cell *matCellDef="let row">
          {{ row.enginePower }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Operacje</th>
        <td mat-cell *matCellDef="let row">
          <!-- Delete -->
          <button
            mat-icon-button
            color="warn"
            (click)="onDeleteClick(row)"
            aria-label="Delete button"
            matTooltip="Usuń pojazd"
            [matTooltipPosition]="'right'"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- No data row -->
      <tr *matNoDataRow>
        <div class="no-vehicles-message">
          <mat-icon>leaderboard</mat-icon>
          <div>Brak pojazdów</div>
        </div>
      </tr>
    </table>
  </div>

  <!-- Pagination -->
  <mat-paginator
    class="paginator"
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="8"
    [pageSizeOptions]="[8, 12, 16]"
    aria-label="Select the page"
  >
  </mat-paginator>
</div>
