<!-- Form field -->
<mat-form-field
  [ngClass]="darkMode && 'white-text'"
  [appearance]="appearance"
  [style.fontSize.px]="12"
>
  <!-- Prefix of input (circle) -->
  <div
    [ngClass]="darkMode && 'white-border'"
    style.backgroundColor="{{ getStatusColor(selectedPosition) }}"
    class="status-circle"
    matPrefix
  ></div>
  <!-- Select input -->
  <mat-select [(value)]="selectedPosition" (selectionChange)="onSelectionChange()">
    <!-- Options ganerate -->
    <mat-option *ngFor="let status of possibleStatuses" value="{{ status.position }}">
      <!-- Circle with corresponding color -->
      <div style.backgroundColor="{{ status.color }}" class="status-circle-list"></div>
      {{ status.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
