.status-circle {
  height: 1.25em;
  width: 1.25em;
  margin: 2px 6px 2px 4px;
  border-radius: 50%;
  display: inline-block;
}

.status-circle-list {
  height: 1em;
  width: 1em;
  margin-right: 0.4em;
  border-radius: 50%;
  display: inline-block;
}

.white-border {
  border: solid 1px white;
}

::ng-deep .white-text .mat-select-value {
  color: white;
}

@media only screen and (max-width: 1450px) {
  :host ::ng-deep .mat-select-value {
    display: none;
  }

  :host ::ng-deep .mat-form-field-infix {
    width: inherit;
  }
}
