<div class="login-panel">

    <form [formGroup]="loginForm" class="login-form  mat-elevation-z6">
      
        <!-- Login header -->
        <h1 class="login-header">Logowanie</h1>

        <!-------------------------------------- Username -------------------------------------->
        <mat-form-field appearance="fill">

            <!-- Label -->
            <mat-label>Nazwa użytkownika</mat-label>
            <!-- Input -->
            <input type="text" formControlName="username" matInput>

            <!-- Errors displaying-->
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                Proszę wrowadź nazwę użytkownika
            </mat-error>
            
        </mat-form-field>

        <!------------------------------------- Password -------------------------------------->
        <mat-form-field appearance="fill">

            <!-- Label -->
            <mat-label>Hasło</mat-label>
            <!-- Input -->
            <input [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password" matInput>
            <!-- Toggle password visibility (suffix)-->
            <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{isPasswordVisible?'visibility_off':'visibility'}}
            </mat-icon>

            <!-- Errors displaying-->
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Proszę wprowadź hasło
            </mat-error>

        </mat-form-field>

        <!------------------------------------ Errors from server ------------------------------------>

        <ng-container *ngIf="validationErrors.length">
            <ul class="validation-errors-list">
                <li *ngFor="let error of validationErrors">{{error}}</li>
            </ul>
        </ng-container>

        <!-------------------------------------- Submit button ---------------------------------------->
        <button mat-raised-button 
            color="primary"
            class="login-button" 
            [disabled]="isLogging || !loginForm.valid" 
            (click)="onLogin()">
            
            {{isLogging ? "Logowanie..." : "Zaloguj"}}
        </button>

    </form>
</div>
