<!-- Consider two-way databinding for [(vehicleOwner)] -->
<app-vehicle-form
  [vehicleForm]="editForm"
  [(vehicleOwner)]="currentOwner"
  (onSubmit)="editForm.valid && onSaveChanges()"
></app-vehicle-form>

<div class="profile-submit-button-container">
  <button
    mat-raised-button
    form="vehicle-form"
    class="profile-submit-button"
    type="submit"
    color="primary"
    [disabled]="!editForm.dirty || !editForm.valid || this.isSaving"
  >
    {{ isSaving ? "Zapisywanie..." : "Zapisz" }}
  </button>
</div>
