// * {
//   box-sizing: border-box;
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $default-fonts-set;
}

.theme-primary {
  background-color: $primary;
  color: white;
}

.theme-accent {
  background-color: $accent;
  color: white;
}

.theme-warn {
  background-color: $warn;
  color: white;
}

.disable-pointer {
  pointer-events: none;
}

.flex-xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}
