@import "~@angular/material/theming";
// General
$max-content-width: 1600px;
$max-navbar-content-width: 1700px;
$default-border-radius: 5px;
// Media queries related
$small-screen-size: 600px;
$medium-screen-size: 960px;
$large-screen-size: 1280px;
$xlarge-screen-size: 1920px;
// Snackbar stuff
$snackbar-success-color: rgb(98, 213, 98);
$snackbar-info-color: rgb(135, 206, 250);
$snackbar-warn-color: orange;
$snackbar-error-color: orangered;
$snackbar-paper-color: rgb(111, 114, 135);
// Angular Material (Indigo-Pink Theme)
$app-primary-palette: mat-palette($mat-indigo);
$app-accent-palette: mat-palette($mat-pink);
$app-warn-palette: mat-palette($mat-red);
$primary: mat-color($app-primary-palette);
$accent: mat-color($app-accent-palette);
$warn: mat-color($app-warn-palette);
