%panel-host {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: $default-background-color;
  padding: max(2.5%, 24px) max(2.5%, 16px);
}

%profile-host {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: max(2.5%, 24px) max(3.5%, 12px);
}

%table-host {
  width: 100%;
  height: 100%;
}

%snackbar-base {
  background-color: $snackbar-paper-color;
  color: white;
}

%text-overflow-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
