%panel-host {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: $default-background-color;
  padding: max(2.5%, 24px) max(2.5%, 16px);
}

%profile-host {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: max(2.5%, 24px) max(5%, 16px);
}

%table-host {
  width: 100%;
  height: 100%;
}

%snackbar-base {
  background-color: $snackbar-paper-color;
  color: white;
}

%mat-tab-label-adjustment {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-left: 5px;
  user-select: none;
}

%text-overflow-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
