@import "helpers/constants";

.address {
  padding: 0.25em 0;
}

.city {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}

/* Separate the columns content*/
td.mat-cell {
  padding-right: 0.5em;
}

@media (max-width: $medium-breakpoint) {
  .mat-column-address {
    display: none;
  }
}
