<!-- Form field -->
<mat-form-field appearance="outline" [style.fontSize.px]="12" >
    
    <!-- Prefix of input -->
    <mat-icon [style.color]="getStatusColor(selectedStatus)" [style.marginLeft.px]="5" matPrefix>circle</mat-icon>
    <!-- Select input -->
    <mat-select [(value)]="selectedStatus">
        <!-- Options ganerate -->
        <mat-option *ngFor="let status of possibleStatuses" value="{{status.position}}">
            <!-- Circle with corresponding color -->
            <div style.backgroundColor="{{status.color}}" class="status-circle"></div>
            {{status.name}}
        </mat-option>
    </mat-select>
    
</mat-form-field>
