<mat-form-field appearance="fill">
  <!-- Label -->
  <mat-label>{{ label }}</mat-label>

  <!-- Input / Text area -->
  <input
    *ngIf="!isTextArea"
    type="{{ type }}"
    min="{{ type === 'number' && minNumber }}"
    max="{{ type === 'number' && maxNumber }}"
    [formControl]="ngControl.control"
    spellcheck="false"
    matInput
  />
  <textarea
    *ngIf="isTextArea"
    type="{{ type }}"
    [rows]="rowsNumber"
    [formControl]="ngControl.control"
    spellcheck="false"
    matInput
  ></textarea>

  <!-- Suffix (if needed) -->
  <div class="suffix" *ngIf="suffixText && !isTextArea" matSuffix>{{ suffixText }}</div>

  <!------------ Handling errors  -->

  <!-- Required -->
  <mat-error *ngIf="ngControl.control.errors?.required"> Pole nie może być puste! </mat-error>

  <!-- IsMatching (custom) -->
  <mat-error *ngIf="ngControl.control.errors?.isMatching"> Pola nie pokrywają się! </mat-error>

  <!-- Minlength -->
  <mat-error *ngIf="ngControl.control.errors?.minlength">
    Pole musi zawierać minimum
    {{ ngControl.control.errors!["minlength"].requiredLength }} znaków!
    <!-- NOTE: We can also use {{registerForm.controls['password'].getError('minlength').requiredLength }} -->
  </mat-error>

  <!-- Pattern -->
  <mat-error *ngIf="ngControl.control.errors?.pattern">
    Pole zawiera niedozwolone znaki!
  </mat-error>
</mat-form-field>
