<div *ngIf="vehicle" class="profile-paper">
  <div class="profile-intro">
    <!-- Vehicle name -->
    <div class="profile-title">{{ vehicle.brand }} {{ vehicle.model }}</div>

    <!-- Vehicle production -->
    <div class="profile-subtitle">
      {{ vehicle.productionDate || "&nbsp;" }}
    </div>

    <!-- Registration number -->
    <div class="profile-label">
      <mat-icon>car_repair</mat-icon>
      <span>{{ vehicle.registrationNumber }}</span>
    </div>

    <!-- Right bottom data -->
    <div class="profile-right-corner-data">
      <!-- Current owner link -->
      <app-client-profile-link
        *ngIf="vehicle.currentOwner"
        [label]="'Właściciel'"
        [customColor]="'white'"
        [client]="currentOwner"
      >
      </app-client-profile-link>
    </div>
  </div>

  <!-- Tabs -->
  <nav mat-tab-nav-bar animationDuration="0ms" mat-align-tabs="start" [tabPanel]="tabPanel">
    <a
      mat-tab-link
      routerLinkActive="profile-active-tab-link"
      [routerLink]="['./']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dane pojazdu
    </a>
    <a mat-tab-link routerLinkActive="profile-active-tab-link" [routerLink]="['./orders']">
      Zlecenia
    </a>
  </nav>

  <!-- Tabs-content -->
  <mat-tab-nav-panel class="profile-tab-content" #tabPanel
    ><router-outlet></router-outlet
  ></mat-tab-nav-panel>
</div>
