@import "helpers/constants";
@import "helpers/placeholders";

:host {
  @extend %table-host;
}

.currency-suffix {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

.big-clock {
  font-size: 20px;
}

.disabled-clock {
  color: rgba(0, 0, 0, 0.4);
}

/* ---------- Align columns */
::ng-deep .mat-column-status .mat-form-field-wrapper {
  padding: 0px !important;
}

::ng-deep .mat-column-status .mat-form-field-appearance-outline .mat-form-field-infix {
  max-width: 7.5em !important;
  padding: 0.7em 0 !important;
}

::ng-deep .mat-column-admissionDate .mat-form-field-wrapper {
  padding: 0px !important;
}

::ng-deep .mat-column-admissionDate .mat-form-field-appearance-outline .mat-form-field-infix {
  max-width: 8.5em !important;
  padding: 0.75em 0 !important;
}

::ng-deep .mat-column-deadlineDate .mat-form-field-wrapper {
  padding: 0px !important;
}

::ng-deep .mat-column-deadlineDate .mat-form-field-appearance-outline .mat-form-field-infix {
  max-width: 8.5em !important;
  padding: 0.75em 0 !important;
}

/* First column adjustment */
.mat-column-orderNumber.mat-cell {
  padding-left: 1em;
}
.mat-column-actions.mat-cell {
  text-align: center;
}
.mat-column-totalGross {
  text-align: center;
}
.mat-column-totalGross.mat-cell {
  font-size: 13px;
}
.mat-column-createDate.mat-cell {
  font-size: 13px;
}
.mat-column-finishDate.mat-cell {
  font-size: 13px;
}
/* Separate columns */
td.mat-cell:not(.mat-column-actions) {
  padding-right: 0.5em;
}

@media (max-width: $xlarge-breakpoint) {
  .mat-column-finishDate {
    display: none;
  }

  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 12px;
  }
}

@media (max-width: $large-breakpoint) {
  .mat-column-createDate,
  .mat-column-admissionDate {
    display: none;
  }

  th.mat-header-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 16px;
  }
}

@media (max-width: $medium-breakpoint) {
  .mat-column-deadlineDate {
    display: none;
  }
}

@media (max-width: $small-breakpoint) {
  .mat-column-totalGross {
    display: none;
  }
}
