@import "helpers/constants";

.mat-sidenav-container {
  height: 100%;

  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: center;

    .toolbar-content {
      display: flex;
      width: 100%;
      max-width: $max-navbar-content-width;
    }

    // For login and register page
    &.transparent {
      background-color: transparent;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(20px);
      color: white;
    }
  }
}

#logo {
  height: 2em;
  margin-right: 1em;

  &:hover {
    cursor: pointer;
    transform: scale(1.04, 1.04);
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

// Filling the free space in toolbar
.spacer {
  flex: 1 1 auto;
}

.account-management-container {
  a,
  .mat-button {
    font-size: $account-management-fontsize;
  }

  display: flex;
  justify-content: center;
}

.bookmark {
  font-size: $bookmark-fontsize;
  margin-left: 8px;
}

.bookmark-divider {
  position: relative;

  &::after {
    content: "";
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 20%;
    left: 3px;
    border-right: solid 2px white;
  }
}

.active-link {
  background: rgba(0, 0, 0, 0.2) !important;
}

.footer {
  height: $navbar-height;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: white;
}

// When small screen
.sidenav {
  width: 200px;
  .sidenav-title {
    background-color: $primary;
    color: white;
    justify-content: start;
  }
}

@media (max-width: $medium-breakpoint) {
  .account-button {
    padding: 0px 8px;
  }
}
