<!-- Title -->
<h1 mat-dialog-title>Uzupełnij dane usługi</h1>
<mat-divider></mat-divider>

<!-- Content -->
<div mat-dialog-content>
  <!-- Form -->
  <form
    id="serviceForm"
    [formGroup]="serviceForm"
    (ngSubmit)="serviceForm.valid && onSaveChanges()"
    class="create-service-form"
  >
    <!-- Service name -->
    <app-text-input [label]="'Nazwa usługi'" [formControl]="serviceForm.controls['name']">
    </app-text-input>

    <div class="row">
      <!-- Cost Net -->
      <app-text-input
        [suffixText]="'zł/h'"
        [label]="'Koszt godziny netto'"
        [formControl]="serviceForm.controls['costNet']"
      >
      </app-text-input>

      <!-- Cost Gross -->
      <app-text-input
        [suffixText]="'zł/h'"
        [label]="'Koszt godziny brutto'"
        [formControl]="serviceForm.controls['costGross']"
      >
      </app-text-input>
    </div>

    <!-- Estimated time -->
    <app-text-input
      [suffixText]="'h'"
      [label]="'Szacowany czas'"
      [formControl]="serviceForm.controls['estimatedTime']"
    >
    </app-text-input>

    <div class="row">
      <!-- Total Net -->
      <app-text-input
        [suffixText]="'zł'"
        [label]="'Szacowany koszt netto'"
        [formControl]="serviceForm.controls['totalNet']"
      >
      </app-text-input>

      <!-- Total Gross -->
      <app-text-input
        [suffixText]="'zł'"
        [label]="'Szacowany koszt brutto'"
        [formControl]="serviceForm.controls['totalGross']"
      >
      </app-text-input>
    </div>
  </form>
</div>

<!-- Actions -->
<div [align]="'end'" mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Porzuć</button>
  <button
    form="serviceForm"
    mat-button
    color="primary"
    [disabled]="!serviceForm.valid || isSaving"
    cdkFocusInitial
  >
    {{ isSaving ? "Zapisywanie..." : "Zapisz" }}
  </button>
</div>
